{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Standings{% endblock %}</h1>
{% endblock %}

<title>
    Standings
</title>

<!-- TABLE WITH LAST 5 BEERS THAT WERE CHECKED IN BY THE USER -->
{% block content %}
<h2> English Premier League Table</h2>
<table class="epl_table">
    <tr class="epl_table">
        <th class="epl_table">Position</th>
        <th class="epl_table">Club</th>
        <th class="epl_table">GP</th>
        <th class="epl_table">W</th>
        <th class="epl_table">D</th>
        <th class="epl_table">L</th>
        <th class="epl_table">F</th>
        <th class="epl_table">A</th>
        <th class="epl_table">GD</th>
        <th class="epl_table">P</th>
        <th class="epl_table">xGF</th>
        <th class="epl_table">xGA</th>
        <th class="epl_table">LAST 5</th>


    </tr>
    <!-- ITERATING THROUGH EACH ROW OF DATAFRAME -->
    {% for key,value in epl_standings.iterrows() %}
    {% set POSITION = value['RANK'] %}
    {% set URL = value['LOGO_URL'] %}
    {% set CLUB = value['CLUB'].title() %}
    {% set GP = value['GAMES'] %}
    {% set W = value['WINS'] %}
    {% set D = value['TIES'] %}
    {% set L = value['LOSSES'] %}
    {% set F = value['GOALS_FOR'] %}
    {% set A = value['GOALS_AGAINST'] %}
    {% set GD = value['GOAL_DIFF'] %}
    {% set P = value['POINTS'] %}
    {% set XG_FOR = value['xG_FOR'] %}
    {% set XG_AGAINST = value['xG_AGAINST'] %}
    {% set LAST_5 = value['LAST_5'] %}
    <!-- POPULATING ROW WITH DATAFRAME VALUES -->
    <tr class="epl_table">
        <td class="epl_table">{{POSITION}}</td>
        <div><td class="epl_table" style="vertical-align:1px;"> <img src="{{ URL }}" width="15" height="15"></img> {{CLUB}}</td>
        <td class="epl_table">{{GP}}</td>
        <td class="epl_table">{{W}}</td>
        <td class="epl_table">{{D}}</td>
        <td class="epl_table">{{L}}</td>
        <td class="epl_table">{{F}}</td>
        <td class="epl_table">{{A}}</td>
        <td class="epl_table">{{GD}}</td>
        <td class="epl_table">{{P}}</td>
        <td class="epl_table">{{XG_FOR}}</td>
        <td class="epl_table">{{XG_AGAINST}}</td>
        <td class="epl_table">
            <div class="row">
                <span class="{{'wld_block_w' if LAST_5.split()[0]=='W' else 'wld_block_l' if LAST_5.split()[0]=='L' else 'wld_block_d' if LAST_5.split()[0]=='D'}}">{{LAST_5.split()[0]}}</span>
                <span class="{{'wld_block_w' if LAST_5.split()[1]=='W' else 'wld_block_l' if LAST_5.split()[1]=='L' else 'wld_block_d' if LAST_5.split()[1]=='D'}}">{{LAST_5.split()[1]}}</span>
                <span class="{{'wld_block_w' if LAST_5.split()[2]=='W' else 'wld_block_l' if LAST_5.split()[2]=='L' else 'wld_block_d' if LAST_5.split()[2]=='D'}}">{{LAST_5.split()[2]}}</span>
                <span class="{{'wld_block_w' if LAST_5.split()[3]=='W' else 'wld_block_l' if LAST_5.split()[3]=='L' else 'wld_block_d' if LAST_5.split()[3]=='D'}}">{{LAST_5.split()[3]}}</span>
                <span class="{{'wld_block_w' if LAST_5.split()[4]=='W' else 'wld_block_l' if LAST_5.split()[4]=='L' else 'wld_block_d' if LAST_5.split()[4]=='D'}}">{{LAST_5.split()[4]}}</span>
            </div>
        </td>

    </tr>
    {% endfor %}
</table>

{% endblock %}